*{
    color:#38a671 !important;
    text-align: justify;
    text-justify: inter-word;
}
a{
    color:#38a671; 
}
a:hover{
    color: #153d41 !important;
    /*text-shadow: 1px 1px 1px #000000;*/
    font-weight: bold;
}
.active{
    text-decoration: underline;
}
h1{
    text-decoration: underline;
}
h1, h2{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: 2px 2px 0px #153d41,
                 4px 4px 0px #153d41;

}
.white{
    color: #ffffff !important;
}
.black{
    color: #000000 !important;
}
.text-danger, .orange{
    color: #df4627 !important;
}
.text-primary, .blue{
    color: #153d41 !important;
}
.text-success, .green{
    color: #38a671 !important;
}

.fa {
    padding: 4px;
    font-size: 20px;
    width: 20px;
    text-decoration: none;
    margin: 4px 8px;
}



.bg-burger{
    background-image: url("img/burger.png");
}
.bg-carrot{
    background-image: url("img/carrot.png");
}
.bg-cheff{
    background-image: url("img/chef.png");
}
.bg-cutlery{
    background-image: url("img/cutlery.png");
}
.bg-fruit{
    background-image: url("img/fruit.png");
}
.bg-ice-cream{
    background-image: url("ice-cream.png");
}
.bg-meat{
    background-image: url("img/meat.png");
}
.bg-pans{
    background-image: url("img/pans.png");
}
.bg-restaurant{
    background-image: url("img/restaurant.png");
}
.bg-salad{
    background-image: url("img/salad.png");
}
